body {
  font-size: 1em;
}

.is-centered {
  margin: 0 auto;
}

.btn.btn-xl {
  width: 4em;
  height: 4em;
}

.navbar {
  border-bottom: 1px solid #5755d9;
  margin-bottom: 1em;
}

.navbar .navbar-section a {
  font-weight: bold;
}

.navbar .navbar-section a:hover {
  background-color: #5755d9;
  color: white;
}

.form-radio {
  margin: 0;
  padding-right: 0;
}

.form-radio .form-icon {
  left: 0.3rem;
}

#mode {
  height: 50%;
}

#mode .form-group {
  text-align: center;
}

#mode .form-radio {
  display: inline;
  padding: 0 .4rem .1rem 1.4rem;
}

@media screen and (min-width: 600px) {
  .columns {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 600px) {
  .columns {
    display: block;
  }

  .columns .column {
    margin-bottom: 1em;
  }
}

