.is-centered {
  margin: 0 auto;
}

.btn.btn-xl {
  width: 4em;
  height: 4em;
}

.navbar {
  border-bottom: 1px solid #5755d9;
  margin-bottom: 1em;
}

.navbar .navbar-section a {
  font-weight: bold;
}

.navbar .navbar-section a:hover {
  background-color: #5755d9;
  color: white;
}

@media screen and (min-width: 600px) {
  .columns {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 600px) {
  .columns {
    display: block;
  }

  .columns .column {
    margin-bottom: 1em;
  }
}

